/**
 * Copyright 2022 Paul Sons all rights reserved.
 */


:root {
    font-size: .166in;   /*se the size of 1 rem about 16px*/
    --endeavor_task_color: #162882;
    --sprint_task_color: #bfc3d9;
    /*--sprint_task_color: #8f97bd;*/
    --passive_color: lightgray;
    --user_interact_background_color: #69618b;
    --user_interact_foreground_color: #7654A6FF;
    --prompt_color: #bfcde2;
    --sep_h_margin: 1.5rem;
    --font_fam_setting_display: sans-serif;
    /*--font_fam_setting_changable: Georgia;*/
    --font_fam_setting_changable: Garamond;
    /*--input_font: */

}

.not_displayed {
    display: none;
}



.top_bar {
    display: grid;
    grid-template: auto auto / 1fr 1fr 1fr ;
    /*grid-template:*/
            /*"a b b" auto*/
            /*". d d" auto;*/
    grid-gap: 0;
    background-color: #fff;
    /*color: var(--endeavor_task_color);*/
    /*grid-template-columns: 1fr 1fr;*/
    /*grid-template-rows: 1fr 1fr;*/
}

.setting_label {
    color: var(--endeavor_task_color);
    font-size: .8rem;
    justify-content: center;
}

.statistics_panel {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    font-family: var(--font_fam_setting_display);
    font-size: 1rem;
    background-color: var(--passive_color);
    /*border: solid var(--passive_color) .2em;*/
    border: solid white .1rem;
    /*border: solid red .1rem;*/
    padding: 0;
    /*border-radius: .4rem;*/
    /*margin: 0 .1rem 0 .1rem;*/
    margin: 0 ;
    margin: 0 ;
}

.statistics_panel:hover .micro-control {
    display: inline;
    color: var(--user_interact_foreground_color);
}
.statistics_panel>.incremetable {
    background-color: white;
    margin: auto .3rem auto auto;
}
.statistics_panel:hover>.incremetable {
    color: var(--endeavor_task_color);
}


.label_val_pair {
    margin: .1rem 0 .1rem 0;
    /*border: solid brown .2rem;*/
    display: block;
    /*float: none;*/
    font-family: sans-serif;
    font-size: 1rem;
}
.setting_label {
    display: inline-block;
    /*float: right;*/
    color: var(--endeavor_task_color);
    border: solid var(--passive_color) .2rem;
    /*background-color: white;*/
}

.screen_title {
    padding: .2rem;
    font-family: sans-serif;
    color: var(--endeavor_task_color);
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #fff;
}

.menu_choice {
    /*flex-grow: 1;*/
    font-family: sans-serif;
    font-size: .8rem;
    text-align: center;
    color: var(--user_interact_foreground_color);
    background-color: var(--passive_color);
    /*border: solid var(--passive_color) .2rem;*/
    border: solid white .2rem;
    padding: 0;
    border-radius: .4rem;
    margin: 0 ;
    /*margin: 0 .1rem 0 .1rem;*/

}

.menu_choice:hover {
    font-size: 1.2rem;
    /*padding: 1rem;*/
    /*height: 1.6rem;*/
    /*vertical-align: center;*/
    z-index: 4;
}

.task_grid {
    display: flex;
    flex-direction: row;
}

/* for text span inline with micro controls like incr*/
.micro-inline {
    display: inline;
    padding: 0 .1rem 0 .1rem;
    font: normal 100% var(--font_fam_setting_changable);
    /*font-family: var(--font_fam_setting_changable);*/
    color: var(--user_interact_foreground_color); /* leads you interact, but
    but by the time you hover and expose the control, it is actually
    the buttons you interact with.   */
}

/* for controls that are inlines with text having .micro-inline */
.micro-control {
    display: none;  /*use with-> .some_parent:hover micro-control {display: inline; } */
    background-color: #bfc3d9;
    color: var(--user_interact_foreground_color);
    /*background-color: var(--sprint_task_color);*/
    /*background-color: var(--prompt_background);*/
    font-family: "Andale Mono";
    font-weight: bolder;
    font-size: .7rem;
    position: relative;
    bottom: .2em;           /* position: and bottom: are used to hike the control up
                               because it is not as tall as the text it is inlined with.
                               */
    /*margin-bottom: .2rem;*/
    /*vertical-align: center;*/
    horiz-align: center;
    margin: 0 .2rem 0 .2rem;
    padding: 0 2px 0 2px;
    border-style: solid;
    border-width: .7px;
    /*border-style: outset;*/
    /*border-color: #7078a9;*/
    border-color: var(--user_interact_foreground_color);
    color: #262a40;
    /*border-color: var(--passive_color);*/
    border-image: initial;
    border-radius: 30%;
}

.endeavor_head_bar {
    /*height-min: 3rem;*/
    display: block;
    box-sizing: content-box;
    height: 3.3rem;      /* changes on hover See below.*/
    width: calc(100% - .4rem);  /* 100% - both margins*/
    overflow: hidden;
    background-color: var(--endeavor_task_color);
    color: white;
    margin: .1rem .1rem .1rem .1rem;

    /*font-size: .7rem;*/
    padding: .2rem .1rem .13rem .1rem;
    line-height: 1.1;   /*  forces wrapping text to be hidden over
                            flow below the fixed height.*/
    /*color: var(--passive_color);*/
}

.endeavor_head_bar:hover .micro-control {
    display: inline;
    color: var(--user_interact_foreground_color);
}
.endeavor_head_bar>.incremetable {
    background-color: white;
    margin: auto .3rem auto auto;
}
.endeavor_head_bar:hover .micro-inline {
    color: var(--endeavor_task_color);
}


.endeavor_head_bar:hover {
    box-sizing: content-box;
    font-size: 1.1rem;
    font-weight: normal;
    line-height: normal;
    width: calc(100% - 1.2rem);
    height: auto;
    /*overflow: visible;  not needed. no overflow since the box becomes big enough.*/
    padding: .5rem;
}

.endeavor_head_bar_new {
    border: solid .15rem red  ;
    /*margin: auto;*/
    height: 3rem;
    padding: 0; /* 1rem top manually vert center content */
    color: var(--prompt_color);
    /*border: solid white .1rem;*/
    /*background-color: var(--prompt_color);*/
    margin: .2rem 0 .2rem 0;
}

.endeavor_name_prompt {
    /*height: 3rem;*/
    background-color: var(--user_interact_background_color);
    border: solid .5rem var(--prompt_color);
    /*overflow: hidden;*/
    padding: .5rem;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    font-style: italic;
}

.endeavor_tasks_label {display: none }

.endeavor_name {
    /*min-height: 3rem;*/
    height: 2.4rem;
    padding: 0 .5rem 0 .5rem;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.endeavor_max_stories_value {
    float: right;
    display: inline;
    /*color: #162882;*/
    color: var(--endeavor_task_color);
    background-color: white;
    padding: .1rem;
    font-size: 2rem;
    font-family: var(--font_fam_setting_changable);

}

.debug_place_holder {
    border: solid red 10px;
    color: brown;
    background-color: mediumslateblue;
}

.task_list {
    padding: 0;
    border: solid .2rem ;
    border-radius: .4rem;
    margin: .2rem .1rem .2rem .1rem;
}

.tasks_list_endeavor_in_sprint {
    border-color: var(--endeavor_task_color);
}

.tasks_list_endeavor_out_of_sprint {
    border-color: var(--passive_color);
}

/* Story or out of sprint separators on Plan screen*/

/* Story styles as they appear on the Goal screen */
.story_head_bar {
    /*border: solid .15rem red  ;*/
    height-min: 3rem;
    font-family: sans-serif;
    background-color: var(--passive_color);
    color: var(--endeavor_task_color);
    /*border: solid white .1rem;*/
    margin: .2rem 0 .2rem 0;
    overflow: hidden;
    padding: .2rem;
}

.story_name {
    height: 3rem;
    overflow: hidden;
    padding: 0 .5rem 0 .5rem;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: normal;
}

/*not currently used*/
.story_max_tasks_value {
    float: right;
    display: inline;
    /*color: #162882;*/
    color: var(--endeavor_task_color);
    /*border: solid .12rem var(--passive_color);*/
    background-color: white;
    padding: .1rem;
    font-size: 2rem;
    font-family: var(--font_fam_setting_changable);
}


.show_story {
    padding: 0;
    display: inline-block;
    background-color: lightgray;
    font-size: 1rem;
    /*margin: 0 ;*/
    margin: 1px .2rem 1px .2rem ;
}

.story {
    height: 3rem;
    color: var(--endeavor_task_color);
}

/* The box for the separators */
.sep {
    box-sizing: content-box;   /* works with margin to center horizontally */
    width: calc(100% - 3rem);  /* 100% - 2 * margin */
    height: 3rem;
    font-family: var(--font_fam_setting_display);
    padding: 0;
    display: inline-block;
    background-color: lightgray;
    font-size: 1rem;
    overflow: hidden;
    margin: 1px var(--sep_h_margin) 1px var(--sep_h_margin) ;
}

/*
The button height that is inlined with the span elements in sep_story is:
    font-size: .7rem + 3px*2 padding + .7px*2 border
    ~= .7rem + 7.5px
*/
.sep_story {
    height: .8rem;      /* changes on hover See below.*/
    font-size: .7rem;
    padding: .1rem .5rem .2rem .5rem;
    line-height: 1.3;   /*  forces wrapping text to be hidden over
                            flow below the fixed height.*/
    /*color: var(--passive_color);*/
    color: var(--endeavor_task_color);
}

.sep_story:hover .micro-control {
    display: inline;
    color: var(--user_interact_foreground_color);
}
.sep_story>.incremetable {
    background-color: white;
    margin: auto .3rem auto auto;
}
.sep_story:hover .micro-inline {
    color: var(--endeavor_task_color);
}
/*.sep_story:hover>.incremetable {*/
/*    !*display: inline;*!*/
/*    color: var(--endeavor_task_color);*/
/*}*/

/*'not' in a selector: https://stackoverflow.com/questions/30835168/*/
/*.sep_story:not(hover)>.incremetable .micro-inline {}*/

.sep_story:hover {
    box-sizing: content-box;
    border: solid var(--endeavor_task_color) 2px;
    margin: 2px 2px 2px 2px;
    width: calc(100% - 8px - 1rem) ;  /* 100% content box - 2 * (border + 2px)  - 2 * padding  */
    background-color: white;
    color: #162882;
    font-size: 1.1rem;
    line-height: normal;
    height: auto;
    padding: 0 .5rem 0 .5rem;
 }

.sep_sprint_end {
    border: solid lightslategrey 2px;
    height: 4px;
    color: var(--passive_color);
    border-radius: 3px;
}

.sep_sprint_end:hover {
    /**/
    box-sizing: content-box;
    margin: 2px 2px 2px 2px;
    width: calc(100% - 8px - 1rem) ;  /* 100% content box - 2 * (border + 2px)  - 2 * padding  */
    /*line-height: normal;*/
    /**/
    border: solid var(--endeavor_task_color) 2px;
    background-color: white;
    font-size: .9rem;
    font-style: italic;
    font-weight: lighter;
    height: auto;
    color: var(--endeavor_task_color);
    margin: 0  ;
    padding: 0 .5rem 0 .5rem;
}

.task {
    display: block;
    margin: .1rem .2rem .1rem .2rem;
}

.first_task_out {
    color: var(--sprint_task_color);
}

.additional_task_out {
    color: var(--passive_color);
}

.task {
    font-family: var(--font_fam_setting_display);
    margin: .4rem auto .4rem auto;
}

.task_status {
    display: inline;
}

.task_status::after {
    content: ' - ';
}

.task_title {
    display: inline;
    margin: 4rem 0 .3rem 0;

}

.task_detail {
    display: inline-block;
    /*float: right;*/
    /*position: relative;*/
    /*right: 1rem;*/

    /*https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius*/
    border-radius: 30% / 40%;

    width: .9rem;
    Height: .7rem;
    overflow: hidden;
    background-color: var(--sprint_task_color);
    color: var(--sprint_task_color);
    margin: 0;
}

.task_detail:active {
    width: 100%;
    color: var(--endeavor_task_color);
    border-radius: 0;
    height: auto;
    /*margin: 0 2rem 0 2rem;*/
    background-color: white;
}

.show_endeavor_editor {
    background-color: var(--passive_color);
    color: var(--sprint_task_color);
    border: solid white .1rem;
    margin: 0;
    overflow: hidden;
    padding: .4rem;
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
}

